[submodule "external/asmjit"]
	path = external/asmjit
	url = https://github.com/asmjit/asmjit
	branch = master
[submodule "external/asmjit-utilities"]
	path = external/asmjit-utilities
	url = https://github.com/tetzank/asmjit-utilities
